<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><strong>Nome:</strong> <%= @name %></p>
  <p><strong>Telefone:</strong> <%= @phone_number %></p>
  <p><strong>Assunto:</strong> <%= @subject %></p>
  <p><strong>Mensagem:</strong> <%= @message %></p>
</body>
</html>
