.container-landing {
  margin: 0 auto;
  padding-inline: 8px;
}

// images

.agreement {
  width: 300px;
  height: 300px;
}

.landing-animation-1 {
  margin-top: 60px;
  width: 275px;
  height: 255px;
}

.slogan {
  text-align: center;
  font-size: 52px;
}

// text

.presentation {
  color: #1c301e;
}

.content-presentation {
  text-align: justify;
}

.why {
  width: 97%;
  padding: 20px;
}

.content-why {
  text-align: justifys;
}
