#main-body {
  height: 100%;
  width: 96.5vw !important;
  margin: 0 auto;
  padding: 0;
  background-color: #dde6db;
  position: relative;
}

#main-body::before {
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('background_products.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* ajuste o valor de opacidade conforme necessário */
  z-index: -1; /* coloca o pseudo-elemento atrás do conteúdo */
}
