<h2 style="color: #1c301e;" class="products-title text-center m-3">Anexos de <%= @user.full_name %></h2>

<% if @photos.present? %>
  <div class="photo-gallery">
    <% @photos.each do |photo| %>
      <%= cl_image_tag photo.key, transformation: [
                 {width: 120, height: 120, gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"attachment" %>
    <% end %>
  </div>
<% else %>
  <p>Nenhuma foto encontrada.</p>
<% end %>
