<p>Olá <%= @resource.email %>!</p>

<p>Aqui está o link para redefinir sua senha. Caso não tenha feito a solicitação, favor desconsiderar este email.</p>

<p><%= link_to 'Atualizar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Obrigado</p>
<p>Gamero Topografia</p>
